@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;1,300&family=Poppins:wght@100;300;600;700&family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.ctn {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(https://scontent.fceb1-1.fna.fbcdn.net/v/t39.30808-6/306032843_1759832304375606_6684137200231990438_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-aMF0TIt9zt-gmggajj_ZioC1FfTRm3OKgLUV9NGbc-hWjVR06Agz_1bQEaWIPTKIgSkG15KtfA28e9FQunMR&_nc_ohc=U1cf8LeSOkwAX-Ss7Kw&_nc_ht=scontent.fceb1-1.fna&oh=00_AfBFmghwnneAabCSm-83MoStq4tt8jqzyMcgz33gM1_fMw&oe=654D236A);
}
.slider {
  width: 60%;
  min-height: 70vh;
  height: 70vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  transition: all 250ms ease-in-out;
  display: flex;
  justify-items: center;
  align-items: center;
}
.carousel-item {
  display: grid;
  justify-items: center;
  align-items: center;
}
.text {
  position: absolute;
  top: 25%;
  color: white;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}
.text h1 {
  margin-bottom: 5%;
}
.bttn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.fa-sharp {
  color: white;
  font-size: large;
  cursor: pointer;
}
.login-button,
.reg-button {
  padding: 2%;
  margin-bottom: 2%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 1.5rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  user-select: none;
}

.login-button:hover,
.reg-button:hover {
  background: black;
}
.login-submit {
  margin: 2%;
  width: 100%;
}
.modal-content.primary {
  color: #fff;
  background-color: rgb(0, 0, 0); /* Fallback color */
}

@media only screen and (min-width: 400px) {
  .slider {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .slider {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (min-width: 1000px) {
  .slider {
    width: 60%;
    height: 70vh;
  }
}
