body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #ff3333;
    font-weight: bold;
    margin: 10px 0;
}

.login-form {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0077ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0055cc;
}