body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px;
    margin-top: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    color: #0077ff;
}


button[name="logout"] {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
}

button[name="logout"]:hover {
    background-color: #c0392b;
}

h2 {
    font-size: 28px;
    margin-top: 40px;
    color: #333;
    text-transform: uppercase;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
}

th {
    background-color: #0077ff;
    color: #fff;
}


.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form[action="reserve.php"] {
    display: flex;
    flex-wrap: wrap;
}


label {
    margin: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    background-color: #0077ff;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: #0055cc;
}